.idea
*__pycache__

architecture/
code/
dataset/
visualize_results*/
vite-test/

src/arch/
src/config/*
src/image/
src/data/
src/other/
src/predictions/
src/results/
src/weights/

*.zip
*.txt
*.cfg
*.yml
*.png
*.png.meta
*.jpg
*.jpeg
*.ply
*.PLY
*.torch
*.pt

=4.1.1
aaeyolov4*.csv
yolov7det*.csv
yolov7seg*.csv

!requirements_seg_6d.txt
